config mqtt_sub 'emai_sender_info'
    option email_username 'pimatic.esp32.communication@gmail.com'
    option email_smtps 'smtps://smtp.gmail.com'
    option email_secret 'dlbn ekki zyvl iend '

config mqtt_sub
    option topic 'home/outside/thermometer'
    option parameter 'temp'
    option datatype 'numeric'
    option comp_type '>='
    option comp_value 20
    list recipiant 'kajus.dam@proton.me'
    list recipiant 'pimatic.esp32.communication@gmail.com'

config mqtt_sub
    option topic 'home/outside/thermometer'
    option parameter 'temp'
    option datatype 'numeric'
    option comp_type '=='
    option comp_value 8
    list recipiant 'kajus.dam@proton.me'
    list recipiant 'pimatic.esp32.communication@gmail.com'

config mqtt_sub
    option topic 'home/outside/thermometer'
    option parameter 'humidity'
    option datatype 'numeric'
    option comp_type '>='
    option comp_value 80
    list recipiant 'kajus.dam@proton.me'
    list recipiant 'pimatic.esp32.communication@gmail.com'