config mqtt_sub 'connection_set'
    option mqtt_port '8883'
    option keepalive '10'
    option clean_session '1'
    option mqtt_broker '192.168.1.1'
    list mqtt_topic 'testas'
    list mqtt_topic 'testas2'
    list mqtt_topic 'home/outside/thermometer'
    list mqtt_topic 'temperatura'
    option username 'admin'
    option password 'admin'

config mqtt_sub 'event1'
    option topic 'home/outside/thermometer'
    option parameter 'temp'
    option datatype 'numeric'
    option comp_type '>='
    option comp_value 20
    option email_username 'pimatic.esp32.communication@gmail.com'
    option email_smtps 'smtps://smtp.gmail.com'
    option email_secret 'dlbn ekki zyvl iend '
    list recipiant 'kajus.dam@proton.me'
    list recipiant 'pimatic.esp32.communication@gmail.com'

config mqtt_sub 'event2'
    option topic 'home/outside/thermometer'
    option parameter 'humidity'
    option datatype 'numeric'
    option comp_type '>='
    option comp_value 80
    option email_username 'pimatic.esp32.communication@gmail.com'
    option email_smtps 'smtps://smtp.gmail.com'
    option email_secret 'dlbn ekki zyvl iend '
    list recipiant 'kajus.dam@proton.me'
    list recipiant 'pimatic.esp32.communication@gmail.com'